<!-- This is the about html file page -->

<!DOCTYPE html>
<html lang="en">
    
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="journal">
    <meta name="author" content="Gbubemi">
    <title>About | Journal Ranker</title>
    <!-- Preloader -->
    <style>
        @keyframes hidePreloader {
            0% {
                width: 100%;
                height: 100%;
            }
            100% {
                width: 0;
                height: 0;
            }
        }
        body>div.preloader {
            position: fixed;
            background: white;
            width: 100%;
            height: 100%;
            z-index: 1071;
            opacity: 0;
            transition: opacity .5s ease;
            overflow: hidden;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        body:not(.loaded)>div.preloader {
            opacity: 1;
        }
        body:not(.loaded) {
            overflow: hidden;
        }
        body.loaded>div.preloader {
            animation: hidePreloader .5s linear .5s forwards;
        }
    </style>
    <script>
        window.addEventListener("load", function() {
            setTimeout(function() {
                document.querySelector('body').classList.add('loaded');
            }, 300);
        });
    </script>
    <!-- Favicon -->
    <link rel="icon" href="{% static 'assets/img/brand/favicon.png' %}" type="image/png">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'assets/libs/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <!-- Quick CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/quick-website.css' %}" id="stylesheet">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="{% url 'index' %}">
                <img alt="Image placeholder" src="{% static 'assets/img/brand/dark.svg' %}" id="navbar-logo">
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About Us</a>
                    </li>

                    <!-- Authenticated -->
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'card' %}">Ranking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary btn-icon mt-2" href="{% url 'profile' %}">
                                <span class="btn-inner--text" style="text-transform: capitalize">Hello {{user.username}}</span>
                            </a>
                        </li>

                    <!-- Not Autrhenticated -->
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary btn-icon mt-2 pl-3 pr-3" href="{% url 'signup' %}">
                                <span class="btn-inner--text">Create account</span>
                                <span class="btn-inner--icon"><i data-feather="user"></i></span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header content -->
    <section class="slice py-4 bg-dark">
        <div class="container py-5">
            <div class="row row-grid align-items-center">
                <div class="col-lg-8 text-center text-lg-left">
                    <!-- Heading -->
                    <h1 class="text-white mb-4">
                        We rank computer science journals based on your preferences
                    </h1>
                    <!-- Buttons -->
                    <div class="mt-5">
                        <a href="{% url 'contact' %}" class="btn btn-warning btn-lg btn-icon">
                            <span class="btn-inner--icon">
                                <i data-feather="edit-3"></i>
                            </span>
                            <span class="btn-inner--text">Contact us</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Text content -->
    <section class="slice slice-lg">
        <div class="container">
            <div class="row mt-4">

                <!-- The Text Path -->
                <div class="col-lg-6 pr-lg-5">
                    <div class="mb-4">
                        <span class="badge badge-primary badge-pill">About Journal Ranker</span>
                    </div>
                    <p class="h5 lh-180 mb-3">
                        Our vision is to build a seamless journal ranking system covering popular indexes across several field of study to enable a researcher publish his/her article in a journal thta would get more traction and citation count with less time and money spent.
                    </p>
                </div>

                <!-- The Features Path -->
                <div class="col-lg-6">
                    <div id="accordion-2" class="accordion accordion-spaced">

                        <!-- Accordion card 1 -->
                        <div class="card">
                            <div class="card-header py-4" id="heading-2-1" data-toggle="collapse" role="button" data-target="#collapse-2-1" aria-expanded="false" aria-controls="collapse-2-1">
                                <h6 class="mb-0"><i data-feather="file" class="mr-3"></i>What are the ranking journal features?</h6>
                            </div>
                            <div id="collapse-2-1" class="collapse" aria-labelledby="heading-2-1" data-parent="#accordion-2">
                                <div class="card-body">
                                    <ul>
                                        <li>Subject Area of interest</li>
                                        <li>Index of journals</li>
                                        <li>Publisher of the journals</li>
                                        <li>Citescore Percentile</li>
                                        <li>Frequency of Publication</li>
                                        <li>Open Access</li>
                                        <li>Publication Duration</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Accordion card 2 -->
                        <div class="card">
                            <div class="card-header py-4" id="heading-2-2" data-toggle="collapse" role="button" data-target="#collapse-2-2" aria-expanded="false" aria-controls="collapse-2-2">
                                <h6 class="mb-0"><i data-feather="unlock" class="mr-3"></i>How do I rank the journals?</h6>
                            </div>
                            <div id="collapse-2-2" class="collapse" aria-labelledby="heading-2-2" data-parent="#accordion-2">
                                <div class="card-body">
                                    <p>The user interface for the ranking is implemented with drag and drop functionlities. However, you must ensure that all the emelents of a feature are properly ranked before proceeding</p>
                                </div>
                            </div>
                        </div>

                        <!-- Accordion card 3 -->
                        <div class="card">
                            <div class="card-header py-4" id="heading-2-3" data-toggle="collapse" role="button" data-target="#collapse-2-3" aria-expanded="false" aria-controls="collapse-2-3">
                                <h6 class="mb-0"><i data-feather="folder" class="mr-3"></i>What technique is used to implement ranking?</h6>
                            </div>
                            <div id="collapse-2-3" class="collapse" aria-labelledby="heading-2-3" data-parent="#accordion-2">
                                <div class="card-body">
                                    <p>A Multi-Criteria Decision Making technique is applied to the ranking normaized input result and is used to make recommendation on the journal features.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="position-relative" id="footer-main">
        <div class="footer pt-lg-7 footer-dark bg-dark">
            <!-- SVG shape -->
            <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
                <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve" class=" fill-section-secondary">
                    <polygon points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
            <!-- Footer -->
            <div class="container pt-4">
                <div class="row">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <!-- Theme's logo -->
                        <a href="{% url 'index' %}">
                            <img alt="Image placeholder" src="{% static 'assets/img/brand/light.svg' %}" id="footer-logo">
                        </a>
                        <!-- Webpixels' mission -->
                        <p class="mt-4 text-sm opacity-8 pr-lg-4">Journal Ranker helps researcher to make decision in selecting the most suitable journal to publish their research work based on user preference.</p>
                        <!-- Social -->
                        <ul class="nav mt-4">
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="#" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" target="_blank">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" target="_blank">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                        <h6 class="heading mb-3">Account</h6>
                        <ul class="list-unstyled">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Billing</a></li>
                            <li><a href="#">Notifications</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                        <h6 class="heading mb-3">About</h6>
                        <ul class="list-unstyled">
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                        <h6 class="heading mb-3">Company</h6>
                        <ul class="list-unstyled">
                            <li><a href="#">Community</a></li>
                            <li><a href="#">Help center</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                </div>
                <hr class="divider divider-fade divider-dark my-4">
                <div class="row align-items-center justify-content-md-between pb-4">
                    <div class="col-md-6">
                        <div class="copyright text-sm font-weight-bold text-center text-md-left">
                            &copy; 2020 Journal Ranker</a>. All rights reserved
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Terms
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Privacy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Core JS  -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/svg-injector/dist/svg-injector.min.js' %}"></script>
    <script src="{% static 'assets/libs/feather-icons/dist/feather.min.js' %}"></script>

    <!-- Quick JS -->
    <script src="{% static 'assets/js/quick-website.js' %}"></script>

    <!-- Feather Icons -->
    <script>
        feather.replace({
            'width': '1em',
            'height': '1em'
        })
    </script>
</body>

</html>