<!-- This is the card ranking html file page -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="journal">
    <meta name="author" content="Gbubemi">
    <title>Ranking Card</title>
    {% extends 'base.html' %}
    {% load static %}
</head>

<body>
    <!-- Block Title -->
    {% block title %}
        Create a ranking Card here
    {% endblock %}

    <!-- Block Content -->
    {% block content %}

        <!-- Create Card Form -->
        <div>
            <form action="{% url 'card' %}" method="post">
                {% csrf_token %}
                <section class="align-items-center mb-6">
                    <div>
                        <h5>New Card Details</h5>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="input-card-name" name="card_name" placeholder="Enter card name" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <textarea class="form-control" id="input-card-descr" name="card_descr" rows="3" placeholder="Enter card description" required></textarea>
                        </div>
                    </div>

                    <!-- Show Message -->
                    <div>
                        {% for message in messages %}
                        <h6 class="text-center" style="color: red;">{{message}}</h6>
                        {% endfor %}
                    </div>

                    <div class="">
                        <button type="submit" class="btn btn-outline-primary float-right">Proceed</button>
                    </div>
                </section>
            </form>
        </div>


        <!-- View Previous Card -->
        <section>
            <div class="py-3">
                <h5>Previous Rankings</h5>
            </div>


            {% for card in user.ranking_card.all %}

                <!-- Content View -->
                <section class="">
                    <div class="container">
                        <div class="card hover-translate-y-n10 hover-shadow-lg py-2" style="flex-direction: row;">

                            <div class="col-lg-10 float-left">
                                <a href="{% url 'viewrank' card.name %}">
                                    <div class="p-3 d-flex">
                                        <div class="icon bg-dark icon-shape rounded-circle text-white mr-4">
                                            <i data-feather="droplet"></i>
                                        </div>
                                        <div>
                                            <span class="h6">{{card.name}}</span>
                                            <p class="text-sm text-muted mb-0">{{card.description}}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-lg-2 mt-3 float-right">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_5">
                                    Delete
                                </button>

                                <!-- Modal -->
                                <div class="modal modal-danger fade" id="modal_5" role="dialog" aria-labelledby="modal_5" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="py-1 text-center">
                                                    <i class="fas fa-exclamation-circle fa-4x"></i>
                                                    <h6 class="heading h5 mt-4">Are you sure you want to delete {{card.name}} ?</h6>
                                                    <p>
                                                        Once deleted card cannot be retrieved
                                                    </p>
                                                </div>
                                            </div>                                                                                              
                                            <div class="modal-footer">
                                                <a class="btn btn-sm btn-white" href="{% url 'deletecard' card.name %}">
                                                    Yes, Delete
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                      
                        </div>
                    </div>
                </section>
               
            {% endfor %}

        </section>
    {% endblock %}
</body>
</html>