<!-- This is the user ranking html file page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Result</title>
</head>
<body>
    {% extends 'base.html' %}

    <!-- Block Title -->
    {% block title %}
        View your result here
    {% endblock %}

    <!-- Block Content -->
    {% block content %}
        <!-- Header -->
        <div>
            <h2>Journal Ranker</h2>
        </div>

        <!-- Content -->
        <div>

            <!-- Download File Button -->
            <a href='file:///C:/Users/Gbubemi/Documents/%23Project/journal-ranker/dataset/short_dataset.csv' download>
                
                <div>
                    <button type="submit" class="btn btn-primary float-left">Download File</button>
                    C:\Users\Gbubemi\Documents\#Project\journal-ranker\dataset\short_dataset.csv
                </div>
            </a>
        </div>

    {% endblock %}
</body>
</html>