<!-- This is the user ranking html file page (Drag and Drop) -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Ranking</title>
</head>
<body>
    {% extends 'base.html' %}

    <!-- Block Title -->
    {% block title %}
        Rank your journals here (Drag and Drop)
    {% endblock %}

    <!-- Block Content -->
    {% block content %}
        <!-- Header -->
        <div>
            <p>Kindly select the subject area of your research work and rank where appropraite</p>
        </div>

        <!-- Content -->
        

    {% endblock %}
</body>
</html>