<!-- Main-->

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Index</h5>
                <div class="">
                    <div class="alert alert-modern alert-outline-success draggable1"
                        id="1" name="index" draggable="true">
                        <span class="badge badge-success badge-pill">Index</span>
                        <span class="alert-content">Scopus</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Index</h5>
                <div class="container_drag1 drag_drag1" id="collect1">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Sumbit Button -->
<div>
    <button onclick="myButtonFunction1()" type="submit" class="btn btn-primary float-left">Submit Input</button>
</div>

