<!-- This is the index (home) html file page -->

<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="journal">
    <meta name="author" content="Gbubemi">
    <title>Journal Ranker</title>

    <!-- Preloader -->
    <style>
        @keyframes hidePreloader {
            0% {
                width: 100%;
                height: 100%;
            }
            100% {
                width: 0;
                height: 0;
            }
        }
        body>div.preloader {
            position: fixed;
            background: white;
            width: 100%;
            height: 100%;
            z-index: 1071;
            opacity: 0;
            transition: opacity .5s ease;
            overflow: hidden;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        body:not(.loaded)>div.preloader {
            opacity: 1;
        }
        body:not(.loaded) {
            overflow: hidden;
        }
        body.loaded>div.preloader {
            animation: hidePreloader .5s linear .5s forwards;
        }
    </style>
    <script>
        window.addEventListener("load", function() {
            setTimeout(function() {
                document.querySelector('body').classList.add('loaded');
            }, 300);
        });
    </script>
    <!-- Favicon -->
    <link rel="icon" href="{% static 'assets/img/brand/favicon.png' %}" type="image/png">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'assets/libs/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <!-- Quick CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/quick-website.css' %}" id="stylesheet">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        
    </div>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="{% url 'index' %}">
                <img alt="Image placeholder" src="{% static 'assets/img/brand/dark.svg' %}" id="navbar-logo">
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
                    
                    <!-- Authenticated -->
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'card' %}">Ranking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary btn-icon mt-2" href="{% url 'profile' %}">
                                <span class="btn-inner--text" style="text-transform: capitalize">Hello {{user.username}}</span>
                            </a>
                        </li>

                    <!-- Not Authenticated -->
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary btn-icon mt-2 pl-3 pr-3" href="{% url 'signup' %}">
                                <span class="btn-inner--text">Create account</span>
                                <span class="btn-inner--icon"><i data-feather="user"></i></span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- First Main content (Introduction) -->
    <section class="slice py-7">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
                    <!-- Image -->
                    <figure class="w-100">
                        <img alt="Image placeholder" src="{% static 'assets/img/svg/illustrations/illustration-3.svg' %}" class="img-fluid mw-md-120">
                    </figure>
                </div>
                <div class="col-12 col-md-7 col-lg-6 order-md-1 pr-md-5">
                    <!-- Heading -->
                    <h1 class="display-5 text-center text-md-left mb-3">
                        <strong>Welcome to Computer Science <span class="text-primary">Journal Ranker</span></strong>
                    </h1>
                    <!-- Text -->
                    <p class="lead text-center text-md-left text-muted">
                        Let's help you make better decision in selecting journals for publication
                    </p>

                    <!-- Buttons -->
                    <div class="text-center text-md-left">
                            <a href="{% url 'card' %}" class="btn btn-primary btn-icon mt-3">
                                <span class="btn-inner--text">Get started</span>
                                <span class="btn-inner--icon"><i data-feather="chevron-right"></i></span>
                            </a>
                        <a href="{% url 'journals' %}" class="btn btn-neutral btn-icon mt-3" target="_blank">
                            <span class="btn-inner--text">View Journals</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Second Main content (3 main components)-->
    <section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg-section-secondary">
        <div class="container">
            <!-- Title -->
            <!-- Section title -->
            <div class="row mb-5 justify-content-center text-center">
                <div class="col-lg-6">
                    <span class="badge badge-soft-success badge-pill badge-lg">
                        Get started
                    </span>
                    <h2 class=" mt-4">Rank Computer Science Journals</h2>
                    <div class="mt-2">
                        <p class="lead lh-180">Use the highlighted features of journals to place rankings</p>
                </div>
            </div>
            <!-- Card -->
                <div class="row mt-5">
                    <a href="{% url 'card' %}">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body pb-5">
                                <div class="pt-4 pb-5">
                                    <img src="{% static 'assets/img/svg/illustrations/illustration-5.svg' %}" class="img-fluid img-center" style="height: 150px;" alt="Illustration" />
                                </div>
                                <h5 class="h4 lh-130 mb-3">Create Cards</h5>
                                <p class="text-muted mb-0">Support users to create ranking cards that would store the results of the journal features.</p>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                
                <div class="col-md-4">
                    <a href="{% url 'card' %}">
                    <div class="card">
                        <div class="card-body pb-5">
                            <div class="pt-4 pb-5">
                                <img src="{% static 'assets/img/svg/illustrations/illustration-6.svg' %}" class="img-fluid img-center" style="height: 150px;" alt="Illustration" />
                            </div>
                            <h5 class="h4 lh-130 mb-3">Place Rankings</h5>
                            <p class="text-muted mb-0">Journal Features included for ranking include Index, Publisher, Frequency, Percentile, etc.</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'card' %}">
                    <div class="card">
                        <div class="card-body pb-5">
                            <div class="pt-4 pb-5">
                                <img src="{% static 'assets/img/svg/illustrations/illustration-7.svg' %}" class="img-fluid img-center" style="height: 150px;" alt="Illustration" />
                            </div>
                            <h5 class="h4 lh-130 mb-3">View Results</h5>
                            <p class="text-muted mb-0">Supports the user to view and download the result of the journal rankings for later access.</p>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Third Main content (Learn More)-->
    <section class="slice slice-lg bg-section-dark pt-5 pt-lg-8">
        <!-- SVG separator -->
        <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
            <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" x="0px"
                 y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve"
                 class="">
                <polygon points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
        <!-- Container -->
        <div class="container position-relative zindex-100">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-md-10 text-center">
                        <div class="mt-4 mb-6">
                            <h2 class="h1 text-white">
                                Are you ready to publish right?
                            </h2>
                            <h4 class="text-white mt-3">Create your own experience</h4>
                            <!-- Play button -->
                            <a href="{% url 'about' %}" class="btn btn-primary btn-icon mt-4">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Forth Main content (Features) -->
    <section class="slice pt-0">
        <div class="container position-relative zindex-100">
            <div class="row">
                <div class="col-xl-4 col-sm-6 mt-n7">
                    <div class="card">
                        <div class="d-flex p-4">
                            <div>
                                <span class="badge badge-warning badge-pill">Feature</span>
                            </div>
                            <div class="pl-4">
                                <h5 class="lh-130">Index</h5>
                                <p class="text-muted mb-0">
                                    This include the several databases where journals are gotten from.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 mt-sm-n7">
                    <div class="card">
                        <div class="d-flex p-4">
                            <div>
                                <span class="badge badge-success badge-pill">Feature</span>
                            </div>
                            <div class="pl-4">
                                <h5 class="lh-130">Publisher</h5>
                                <p class="text-muted mb-0">
                                    Journal articles are made available on the web by the publisher.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12 col-sm-6 mt-xl-n7">
                    <div class="card">
                        <div class="d-flex p-4">
                            <div>
                                <span class="badge badge-danger badge-pill">Feature</span>
                            </div>
                            <div class="pl-3">
                                <h5 class="lh-130">Highest Percentile</h5>
                                <p class="text-muted mb-0">
                                    Indicates the relative standing of a serial title in its subject field. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-sm-6">
                    <div class="card">
                        <div class="d-flex p-4">
                            <div>
                                <span class="badge badge-warning badge-pill">Feature</span>
                            </div>
                            <div class="pl-4">
                                <h5 class="lh-130">Frequency</h5>
                                <p class="text-muted mb-0">
                                    Journal publication time-frame of release of issue(s) per year.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6">
                    <div class="card">
                        <div class="d-flex p-4">
                            <div>
                                <span class="badge badge-success badge-pill">Feature</span>
                            </div>
                            <div class="pl-4">
                                <h5 class="lh-130">Open Access</h5>
                                <p class="text-muted mb-0">
                                    Journal is listed in the Directory of Open Access Journals (DOAJ).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12 col-sm-6">
                    <div class="card">
                        <div class="d-flex p-4">
                            <div>
                                <span class="badge badge-danger badge-pill">Feature</span>
                            </div>
                            <div class="pl-3">
                                <h5 class="lh-130">Review Time</h5>
                                <p class="text-muted mb-0">
                                    Average number of weeks taken to review researcher articles.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Us -->
    <section class="slice slice-lg bg-section-secondary">
        <div class="container text-center">
            <div class="card shadow-lg border-0" style="max-width: 100%;">
                <div class="card-body px-5 py-5 text-center text-md-left">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <h5 class="mb-2">Do you have any question about Journal Ranker?</h5>
                            <p class="mb-0">
                                Our support team is available for you anytime.
                            </p>
                        </div>
                        <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
                            <a href="{% url 'contact' %}" class="btn btn-warning btn-icon rounded-pill">
                                <span class="btn-inner--icon"><i data-feather="phone"></i></span>
                                <span class="btn-inner--text">Contact us</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="position-relative" id="footer-main">
        <div class="footer pt-lg-7 footer-dark bg-dark">
            <!-- SVG shape -->
            <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
                <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" x="0px"
                     y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve"
                     class=" fill-section-secondary">
                    <polygon points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
            <!-- Footer -->
            <div class="container pt-4">
                <div class="row">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <!-- Theme's logo -->
                        <a href="{% url 'index' %}">
                            <img alt="Image placeholder" src="{% static 'assets/img/brand/light.svg' %}" id="footer-logo">
                        </a>
                        <!-- Webpixels' mission -->
                        <p class="mt-4 text-sm opacity-8 pr-lg-4">Journal Ranker helps researcher to make decision in selecting the most suitable journal to publish their research work based on user preference.</p>
                        <!-- Social -->
                        <ul class="nav mt-4">
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="#" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" target="_blank">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" target="_blank">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                        <h6 class="heading mb-3">Account</h6>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'profile' %}">Profile</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Billing</a></li>
                            <li><a href="#">Notifications</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                        <h6 class="heading mb-3">About</h6>
                        <ul class="list-unstyled">
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                        <h6 class="heading mb-3">Company</h6>
                        <ul class="list-unstyled">
                            <li><a href="#">Community</a></li>
                            <li><a href="#">Help center</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                </div>
                <hr class="divider divider-fade divider-dark my-4">
                <div class="row align-items-center justify-content-md-between pb-4">
                    <div class="col-md-6">
                        <div class="copyright text-sm font-weight-bold text-center text-md-left">
                            &copy; 2020 Journal Ranker. All rights reserved
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Terms
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Privacy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Core JS  -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/svg-injector/dist/svg-injector.min.js' %}"></script>
    <script src="{% static 'assets/libs/feather-icons/dist/feather.min.js' %}"></script>

    <!-- Quick JS -->
    <script src="{% static 'assets/js/quick-website.js' %}"></script>

    <!-- Feather Icons -->
    <script>
        feather.replace({
            'width': '1em',
            'height': '1em'
        })
    </script>
</body>

</html>