<!-- This is the all journals html file page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="journal">
    <meta name="author" content="Gbubemi">
    <title>Journals | Journal Ranker</title>
    {% extends 'base.html' %}
    {% load static %}
</head>

<body>
    <!-- Block Title -->
    {% block title %}
        <div class="">
            <p>View all our journals</p>                                       
        </div>
    {% endblock %}

    <!-- Block Content -->
    {% block content %}

        <!-- Content -->
        <form method="post" action="{% url 'journals' %}" role="search">
            {% csrf_token %}
            
            <!-- Search bar -->
            <div class="container">
                <div class="card hover-translate-y-n10 hover-shadow-lg py-3 px-3 mt-2 justify-content-between align-items-center" style="flex-direction: row;">
                    <div class="float-left">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text form-control-emphasized"><i data-feather="search"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-emphasized" id="input-title" name="search-box" placeholder="Search Title" value="{{ search_title }}" size=50 required>
                        </div>
                    </div>
                    <div class="float-right">
                        <button type="submit" class="btn btn-outline-success float-right">Search</button>
                    </div>
                </div>

                <!-- Show Message -->
                <div>
                    {% for message in messages %}
                    <h6 class="text-center" style="color: red;">{{message}}</h6>
                    {% endfor %}
                </div>
            </div>

        </form>

        <!-- Journal Table -->

        {% if content %}
            <div class="scrolling-wrapper">
                <table class="dataframe">
                    <thead>
                        <tr>
                            <th>Serial No.</th>
                            <th>Title</th>
                            <th>Citescore</th>
                            <th>Percentile</th>
                            <th>Index</th>
                            <th>Publisher</th>
                            <th>Subject Area</th>
                            <th>Open Access</th>
                            <th>Frequency</th>
                            <th>ISSN</th>      
                            <th>Scopus Link</th>
                        </tr>
                    </thead>
                    
                    {% for feature in content %}
                    <tbody>
                        <tr>
                            <th>{{forloop.counter}}</th>
                            <td>{{feature.1}}</td>
                            <td>{{feature.2}}</td>
                            <td>{{feature.3}}</td>
                            <td>{{feature.19}}</td>
                            <td>{{feature.11}}</td>
                            <td>{{feature.15}}</td>
                            <td>{{feature.13}}</td>
                            <td>{{feature.22}}</td>
                            <td>{{feature.26}}</td>
                            <td><a href={{feature.18}} target="_blank">{{feature.18}}</a></td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    {% endblock %}
</body>
</html>