<!-- This is the user profile html file page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="journal">
    <meta name="author" content="Gbubemi">
    <title>User Profile</title>
    {% extends 'base.html' %}
    {% load static %}
</head>
<body>
    <!-- Block Title -->
    {% block title %}
        {{username}} Journal Ranker Profile
    {% endblock %}

    <!-- Block Content  -->
    {% block content %}

        <!-- Content -->
        <div>
            <div class="card hover-translate-y-n10 hover-shadow-lg">
                <div class="card-body">
                    <div class="pb-4">
                        <div>
                            <span class="avatar bg-dark text-white rounded-circle" style="text-transform: capitalize">
                                {{user.username.0}}
                            </span>
                        </div>
                    </div>
                    <div class="pt-2 pb-3">
                        <h4 style="text-transform: capitalize">{{user.username}}</h4>
                        <!-- <p style="text-transform: capitalize" class="text-muted mb-0">
                            First Name: {{user.first_name}}
                        </p> -->
                        <p style="text-transform: capitalize" class="text-muted mb-0">
                            First Name: Gbubemi
                        </p>
                        <!-- <p style="text-transform: capitalize" class="text-muted mb-0">
                            Last Name: {{user.last_name}}
                        </p> -->
                        <p style="text-transform: capitalize" class="text-muted mb-0">
                            Last Name: Makpokpomi
                        </p>
                        <p style="text-transform: ''" class="text-muted mb-0">
                            Email Address: {{user.email}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
</body>
</html>