<!-- This is the user ranking html file page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Ranking</title>
</head>
<body>
    {% extends 'base.html' %}

    <!-- Block Title -->
    {% block title %}
        Rank your journals here
    {% endblock %}

    <!-- Block Content -->
    {% block content %}
        <!-- Header -->
        <div>
            <h2>{{card_name}}</h2>
            <p>Kindly select the subject area of your research work and rank where appropraite</p>
        </div>

        <!-- Content -->
        <div>
            <form action="" method="post">
                {% csrf_token %}

                <!-- Index (2) -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Index</h5>
                                <div class="">
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="1" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Index</span>
                                        <span class="alert-content">Scopus</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="2" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Index</span>
                                        <span class="alert-content">Others</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Index</h5>
                                <div class="container_drag1 drag_drag1" id="collect">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Publisher (7) -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Publisher</h5>
                                <div class="">
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="1" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Publisher</span>
                                        <span class="alert-content">Springer</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="2" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Publisher</span>
                                        <span class="alert-content">Elsevier</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="3" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Publisher</span>
                                        <span class="alert-content">IEEE</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="4" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Publisher</span>
                                        <span class="alert-content">Taylor & Francis</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="5" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Publisher</span>
                                        <span class="alert-content">Inderscience</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="6" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Publisher</span>
                                        <span class="alert-content">ACM</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="7" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Publisher</span>
                                        <span class="alert-content">Others</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Publisher</h5>
                                <div class="container_drag1 drag_drag1" id="collect">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- Percentile (4) -->
                 <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Percentile</h5>
                                <div class="">
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="1" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Percentile</span>
                                        <span class="alert-content">0-24</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="2" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Percentile</span>
                                        <span class="alert-content">25-49</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="3" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Percentile</span>
                                        <span class="alert-content">50-74</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="4" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Percentile</span>
                                        <span class="alert-content">75-99</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Percentile</h5>
                                <div class="container_drag1 drag_drag1" id="collect">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Frequency (9) -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Frequency</h5>
                                <div class="">
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="1" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Frequency</span>
                                        <span class="alert-content">Weekly</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="2" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Frequency</span>
                                        <span class="alert-content">Fortnighty</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="3" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Frequency</span>
                                        <span class="alert-content">Semi-monthly</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="4" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Frequency</span>
                                        <span class="alert-content">Monthly</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="5" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Frequency</span>
                                        <span class="alert-content">Bi-monthly</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="6" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Frequency</span>
                                        <span class="alert-content">Quarterly</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="7" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Frequency</span>
                                        <span class="alert-content">Tri-annual</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="8" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Frequency</span>
                                        <span class="alert-content">Semi-annual</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="9" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Frequency</span>
                                        <span class="alert-content">Annual</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Frequency</h5>
                                <div class="container_drag1 drag_drag1" id="collect">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Open Access (2) -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Open Access</h5>
                                <div class="">
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="1" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Open Access</span>
                                        <span class="alert-content">Yes</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable1"
                                        id="2" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Open Access</span>
                                        <span class="alert-content">No</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Open Access</h5>
                                <div class="container_drag1 drag_drag1" id="collect">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sumbit Button -->
                <div>
                    <button onclick="myButtonFunction()" type="submit" class="btn btn-primary float-left">Submit Input</button>
                </div>

         </form>
    </div>
    {% endblock %}
</body>
</html>