<!-- This is the user ranking html file page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="journal">
    <meta name="author" content="Gbubemi">
    <title>User Ranking</title>
    {% extends 'base.html' %}
    {% load static %}
</head>
<body>  
    <!-- Block Title -->
    {% block title %}
        Rank your journals here
    {% endblock %}

    <!-- Block Content -->
    {% block content %}
        <!-- Header -->
        <div class="mb-5"> 
            <h2>{{card_name}}</h2>
            <h6>Kindly select the subject area of your research work and rank where appropraite</h6>
        </div>

        <!-- Content -->
        <div>
            <form id="orderingForm" method="post" action="{% url 'rank' %}">
                {% csrf_token %}
                
                <!-- Show Message -->
                <div>
                    {% for message in messages %}
                    <h6 class="text-center py-1" style="color: red;">{{message}}</h6>
                    {% endfor %}
                </div>
                
                <div>
                    <h5>Subject Area</h5>
                    <div class="mb-5">
                        <select class="dropdown btn btn-outline-primary btn-lg dropdown-toggle" name="subject-area" id="r1">
                            <option class="dropdown-item" value="none" selected hidden>Select Subject Area</option>
                            <option class="dropdown-item" value="3"> Artificial Intelligence</option>
                            <option class="dropdown-item" value="4">Computational Theory and Mathematics</option>
                            <option class="dropdown-item" value="5">Computer Graphics and CAD</option>
                            <option class="dropdown-item" value="6">Computer Networks and Communications</option>
                            <option class="dropdown-item" value="2">Computer Science (Miscellaneous)</option>
                            <option class="dropdown-item" value="7">Computer Science Applications</option>
                            <option class="dropdown-item" value="8">Computer Vision and Pattern Recognition</option>
                            <option class="dropdown-item" value="1" >General Computer Science</option>
                            <option class="dropdown-item" value="9"> Hardware and Architecture</option>
                            <option class="dropdown-item" value="10" >Human Computer Interaction</option>
                            <option class="dropdown-item" value="11">Information Systems</option>
                            <option class="dropdown-item" value="12" >Signal Processing</option>
                            <option class="dropdown-item" value="13">Software</option>
                        </select>
                    </div>
                </div>


                <!-- Index (2) -->
                <input type="hidden" id="user_index_id" name="user_index_name" value="">
                <div class="row">
                    <div class="col-sm-6" data-toggle="tooltip" data-placement="top" title="Rank Index">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Index Cards</h5>
                                <div class="">
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="1" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Index</span>
                                        <span class="alert-content">Scopus</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="2" name="index" draggable="true">
                                        <span class="badge badge-success badge-pill">Index</span>
                                        <span class="alert-content">Others</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Index Ranking</h5>
                                <div class="okay container_drag drag_drag drag_length2" id="index_id">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Publisher (7) -->
                <input type="hidden" id="user_publisher_id" name="user_publisher_name" value="">
                <div class="row">
                    <div class="col-sm-6" data-toggle="tooltip" data-placement="top" title="Rank Publisher">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Publisher Cards</h5>
                                <div class="">
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="1" name="publisher" draggable="true">
                                        <span class="badge badge-success badge-pill">Publisher</span>
                                        <span class="alert-content">Springer</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="2" name="publisher" draggable="true">
                                        <span class="badge badge-success badge-pill">Publisher</span>
                                        <span class="alert-content">Elsevier</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="3" name="publisher" draggable="true">
                                        <span class="badge badge-success badge-pill">Publisher</span>
                                        <span class="alert-content">IEEE</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="4" name="publisher" draggable="true">
                                        <span class="badge badge-success badge-pill">Publisher</span>
                                        <span class="alert-content">Taylor & Francis</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="5" name="publisher" draggable="true">
                                        <span class="badge badge-success badge-pill">Publisher</span>
                                        <span class="alert-content">Inderscience</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="6" name="publisher" draggable="true">
                                        <span class="badge badge-success badge-pill">Publisher</span>
                                        <span class="alert-content">ACM</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="7" name="publisher" draggable="true">
                                        <span class="badge badge-success badge-pill">Publisher</span>
                                        <span class="alert-content">Others</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Publisher Rankings</h5>
                                <div class="container_drag drag_drag drag_length7" id="publisher_id">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Percentile (4) -->
                <input type="hidden" id="user_percentile_id" name="user_percentile_name" value="">
                <div class="row">
                    <div class="col-sm-6" data-toggle="tooltip" data-placement="top" title="Rank Percentile">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Percentile Cards</h5>
                                <div class="">
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="4" name="percentile" draggable="true">
                                        <span class="badge badge-success badge-pill">Percentile</span>
                                        <span class="alert-content">0-24</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="3" name="percentile" draggable="true">
                                        <span class="badge badge-success badge-pill">Percentile</span>
                                        <span class="alert-content">25-49</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="2" name="percentile" draggable="true">
                                        <span class="badge badge-success badge-pill">Percentile</span>
                                        <span class="alert-content">50-74</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="1" name="percentile" draggable="true">
                                        <span class="badge badge-success badge-pill">Percentile</span>
                                        <span class="alert-content">75-99</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Percentile Ranking</h5>
                                <div class="container_drag drag_drag drag_length4" id="percentile_id">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Frequency (9) -->
                <input type="hidden" id="user_frequency_id" name="user_frequency_name" value="">
                <div class="row">
                    <div class="col-sm-6" data-toggle="tooltip" data-placement="top" title="Rank Frequency">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Frequency Cards</h5>
                                <div class="">
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="1" name="frequency" draggable="true">
                                        <span class="badge badge-success badge-pill">Frequency</span>
                                        <span class="alert-content">Weekly</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="2" name="frequency" draggable="true">
                                        <span class="badge badge-success badge-pill">Frequency</span>
                                        <span class="alert-content">Fortnighty</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="3" name="frequency" draggable="true">
                                        <span class="badge badge-success badge-pill">Frequency</span>
                                        <span class="alert-content">Semi-monthly</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="4" name="frequency" draggable="true">
                                        <span class="badge badge-success badge-pill">Frequency</span>
                                        <span class="alert-content">Monthly</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="5" name="frequency" draggable="true">
                                        <span class="badge badge-success badge-pill">Frequency</span>
                                        <span class="alert-content">Bi-monthly</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="6" name="frequency" draggable="true">
                                        <span class="badge badge-success badge-pill">Frequency</span>
                                        <span class="alert-content">Quarterly</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="7" name="frequency" draggable="true">
                                        <span class="badge badge-success badge-pill">Frequency</span>
                                        <span class="alert-content">Tri-annual</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="8" name="frequency" draggable="true">
                                        <span class="badge badge-success badge-pill">Frequency</span>
                                        <span class="alert-content">Semi-annual</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="9" name="frequency" draggable="true">
                                        <span class="badge badge-success badge-pill">Frequency</span>
                                        <span class="alert-content">Annual</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Frequency Ranking</h5>
                                <div class="container_drag drag_drag drag_length9" id="frequency_id">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Open Access (2) -->
                <input type="hidden" id="user_openaccess_id" name="user_openaccess_name" value="">
                <div class="row">
                    <div class="col-sm-6" data-toggle="tooltip" data-placement="top" title="Rank Open Access">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Open Access Cards</h5>
                                <div class="">
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="1" name="openaccess" draggable="true">
                                        <span class="badge badge-success badge-pill">Open Access</span>
                                        <span class="alert-content">Yes</span>
                                    </div>
                                    <div></div>
                                    <div class="alert alert-modern alert-outline-success draggable"
                                        id="2" name="openaccess" draggable="true">
                                        <span class="badge badge-success badge-pill">Open Access</span>
                                        <span class="alert-content">No</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Open Access Ranking</h5>
                                <div class="container_drag drag_drag drag_length2" id="openaccess_id">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                
                <!-- Submit Button -->
                <button id="saveOrdering" class="btn btn-outline-primary btn-lg float-right mr-2">Save Ranking</button>
        </form>
    </div>

    <script>
        const saveOrderingButton = document.getElementById('saveOrdering');
        const orderingForm = document.getElementById('orderingForm');
        const user_index_value = orderingForm.querySelector('#user_index_id');
        const user_publisher_value = orderingForm.querySelector('#user_publisher_id');
        const user_percentile_value = orderingForm.querySelector('#user_percentile_id');
        const user_frequency_value = orderingForm.querySelector('#user_frequency_id');
        const user_openaccess_value = orderingForm.querySelector('#user_openaccess_id');
        
        function saveOrdering() {

            //index
            const indexs = document.getElementById("index_id").querySelectorAll('div');
            let user_index = [];
            for (let index of indexs) {
                user_index.push(index.id);
            }
            user_index_value.value = user_index.join(',');

            //publisher
            const publishers = document.getElementById("publisher_id").querySelectorAll('div');
            let user_publisher = [];
            for (let publisher of publishers) {
                user_publisher.push(publisher.id);
            }
            user_publisher_value.value = user_publisher.join(',');

            //percentile
            const percentiles = document.getElementById("percentile_id").querySelectorAll('div');
            let user_percentile = [];
            for (let percentile of percentiles) {
                user_percentile.push(percentile.id);
            }
            user_percentile_value.value = user_percentile.join(',');

            //frequency
            const frequencys = document.getElementById("frequency_id").querySelectorAll('div');
            let user_frequency = [];
            for (let frequency of frequencys) {
                user_frequency.push(frequency.id);
            }
            user_frequency_value.value = user_frequency.join(',');

            //openaccess
            const openaccesss = document.getElementById("openaccess_id").querySelectorAll('div');
            let user_openaccess = [];
            for (let openaccess of openaccesss) {
                user_openaccess.push(openaccess.id);
            }
            user_openaccess_value.value = user_openaccess.join(',');

            orderingForm.submit();
        }
        saveOrderingButton.addEventListener('click', saveOrdering);

    </script>

    {% endblock %}
</body>
</html>
