<!-- This is the user ranking html file page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Result</title>
</head>
<body>
    {% extends 'base.html' %}

    <!-- Block Title -->
    {% block title %}
        View your result here
    {% endblock %}

    <!-- Block Content -->
    {% block content %}
        <!-- Header -->
        <div>
            <h2>Journal Ranker</h2>
        </div>

        <!-- Content -->
        <div>
            <table border="1" class="dataframe">
                <thead>
                    <tr style="text-align: right;">
                        <th></th>
                        <th>title</th>
                        <th>citescore</th>
                        <th>percentile</th>
                        <th>citation_count</th>
                        <th>scholarly_output</th>
                        <th>percent_cited</th>
                        <th>snip</th>
                        <th>sjr</th>
                        <th>publisher</th>
                        <th>open_access</th>
                        <th>quartile</th>
                        <th>scopus_link</th>
                        <th>print_issn</th>
                        <th>e_issn</th>
                        <th>frequency</th>
                        <th>review_time</th>
                        <th>PSI</th>
                    </tr>
                </thead>
                
                {% for feature in content %}
                    <tbody>
                        <tr>
                            <th></th>
                            <td>{{feature.0}}</td>
                            <td>{{feature.1}}</td>
                            <td>{{feature.2}}</td>
                            <td>{{feature.3}}</td>
                            <td>{{feature.4}}</td>
                            <td>{{feature.5}}</td>
                            <td>{{feature.6}}</td>
                            <td>{{feature.7}}</td>
                            <td>{{feature.8}}</td>
                            <td>{{feature.9}}</td>
                            <td>{{feature.10}}</td>
                            <td>{{feature.11}}</td>
                            <td>{{feature.12}}</td>
                            <td>{{feature.13}}</td>
                            <td>{{feature.14}}</td>
                            <td>{{feature.15}}</td>
                            <td>{{feature.16}}</td>
                            <td>{{feature.17}}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    {% endblock %}
</body>
</html>